
body {
    background-color: #F5F5F5;
}
.all {
    margin: auto;
    margin-top: 10vh;
    background-color: #F5F5F5 ;
    width: 60vw;
    display: block;
    padding: 6%;
}

.img {
    margin-left: 2vw;
    width: 90%;
}

.bolt {
    margin-left: 2vw;
    width: 60%;
    font-size: 2vw;
}

.interest {
    margin-left: 9vw;
    float: right;
    font-size: 1vw;
    text-align: center;
    align-items: center;
    border-radius: 1vw;
    width: 15%;
    height: 2vw;
    background-color: #FF7722;
    padding-top: 0.8vh;
    color: white;
    border:0.15vw solid black;
}

.combine {
    margin-top: 1.5vh;
    display: flex;
}

.text{
    margin: 2vw;
    font-size: 1.2vw;
}