html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    background-color: #002b5f;
    font-family: 'Kanit', sans-serif;
    /* background-color: rgb(156, 156, 156); */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.container {
    /* background: rgb(0, 0, 0); */
    background-color: #1f4786;
    width: 350px;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 2em;
}

.img_logo{
    margin-left: 25%;
}
/* ช่องใส่ข้อมูล */

.container .box div {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 5px;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.button-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background: none; */
}

.button-header .b1 {
    background-color: #002b5f;
    color: #fff;
    border-radius: 50px;
    height: 50px;
    border: none;
}

.button-header .b1:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.container .box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5b77a3;
    color: #fff;
    /* border: none; */
    border: #fff 1px solid;
    outline: none;
    padding-left: 0.8em;
    border-radius: 3px;
    transition: all 0.5s;
}
.container .box{
    margin-top: 10px;
    margin-bottom: 10px;
}
.Login:hover{
    cursor: pointer;
}
.Login {
    width: 100%;
    height: 40px;
    border: #fff 1px solid;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 15px;
    /* margin: 5px; */
    /* margin: 0.2eminter; */
    color: rgb(255, 255, 255);
    background-color: #5b77a3;
    /* background: linear-gradient(to right, #ff416c, #ff4b2b); */
    transition: all 0. 0;
    transform: translate(-1%);
    cursor: po5s;
}

.hidden {
    display: none;
}